.confirmed{
    color: #3131ad;
}
.recovered{
    color: #095809;
}
.deaths{
    color: #ff0000;
}
.confirmed, .recovered, .deaths{
    font-size: 2rem !important;
    font-weight: 500 !important;
}
.card-style{
    margin: 10px;
    text-align: center;
    padding: 20px;
    text-transform: capitalize;
}
.card-style:first-child{
    margin-top: 0;
}